<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wang_idea.mapper.NewsMapper">


    <select id="queryData" parameterType="string" resultType="com.wang_idea.pojo.News">
        select *from news where id > '${value}' limit 0,100
    </select>

    <select id="queryMaxId" resultType="java.lang.String">
        select max(id) from (select *from news where id > '${value}' limit 0,100) as temp
    </select>
</mapper>